:root{
    --primary-color:#fead53;
    --text-dark:#333333;
    --text-light:#ffffff33;
    --extra-light:#f3f4f6;
    --max-width: 1300px;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
input::placeholder{
    color: var(--extra-light);
}
body{
    font-family: "Open Sans",sans-serif;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)),url('https://wallpapercave.com/wp/wp7050231.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    padding: 1rem;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
.nav-logo a{
    font-size: 40px;
    font-weight: 900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 2px;
    color:var(--extra-light);
}
.nav-logo a:hover{
    transition: 0.3s;
    color:#fead53;
}
.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-links .link{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--extra-light);
    cursor: pointer;
    transition: 0.3s;
}
.nav-links .link:hover{
    color: var(--primary-color);
}
.search{
    padding: .5rem 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.863);
}
.search input{
    color: rgba(0, 0, 0, 0.842);
    background-color: transparent;
    outline: none;
    border: none;
}
.search i{
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}
.container{
    display: flex;
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 2rem;
    padding-top: 100px;
    position: relative;
}
.left,.right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.left .content{
    max-width: 400px;
    display: grid;
    gap: 1rem;
}
.content h2{
    font-size: 4rem;
    line-height: 4rem;
    color: var(--primary-color);
    font-weight: 700;
}
.content p{
    color: var(--extra-light);
}
.btn{
    display: flex;
    gap: 1rem;
}
.btn button{
    padding: .5rem 2rem;
    color: var(--extra-light);
    font-size: 1rem;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--extra-light);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}
button.readmore{
    background-color: var(--extra-light);
    color: var(--text-dark);
}
button.ourblogs:hover{
    background-color: var(--text-light);
}
.chevrons{
    display: flex;
    gap: 1rem;
}
.chevrons span{
    height:auto;
    width:auto;
    font-size: 1.5rem;
    color: var(--extra-light);
    display: flex;
    align-items: center;
    justify-content: left;
    border: transparent;
    cursor: pointer;
    transition: 0.3s;
}
.right{
    justify-content: flex-end;
}
form{
    width: 350px;
    display: grid;
    border-radius: 5px;
    background-color: var(--text-light);
    color: var(--extra-light);
}
form h4{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2rem;
}
.formgroup{
    display: grid;
    padding: 0 2rem;
    margin-bottom: 1rem;
}
.formgroup input{
    padding: .5rem;
    font-size: 1rem;
    color: var(--extra-light);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--extra-light);
}
form button{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--extra-light);
    cursor: pointer;
}
.bottom{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1rem;
}
.bottom span{
    display: inline-block;
    height: 4px;
    width: 100px;background-color: var(--text-light);
}
.bottom span:nth-child(2){
    background-color: var(--extra-light);
}